[Unit]
Description=Approval Service

[Service]
WorkingDirectory=/home/ofagbuji/apps/approval
ExecStart=/usr/bin/dotnet /home/ofagbuji/apps/approval/Approval.WebApi.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=approvals
User=ofagbuji
Environment=ASPNETCORE_ENVIRONMENT=Staging
ENVIRONMENT=DOTNET_PRINT_TELEMETRY_MESSAGE=false
	
[Install]
WantedBy=multi-user.target


