[Unit]

Description=Kafka Service



[Service]

User=ofagbuji

WorkingDirectory=/usr/local/kafka

ExecStart=/bin/bash bin/kafka-server-start.sh config/server.properties



[Install]

WantedBy=multi-user.target 
