][Unit]
Description=Recova Dispute Service

[Service]
WorkingDirectory=/home/ofagbuji/apps/recova.dispute
ExecStart=/usr/bin/dotnet /home/ofagbuji/apps/recova.dispute/Recova.Dispute.WebAPI.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=recovadispute
User=ofagbuji
Environment=ASPNETCORE_ENVIRONMENT=Staging
ENVIRONMENT=DOTNET_PRINT_TELEMETRY_MESSAGE=false
	
[Install]
WantedBy=multi-user.target


