[Unit]   

Description=Recova AuditTrail Service



[Service]

WorkingDirectory=/home/ofagbuji/apps/recova.audittrail

ExecStart=/usr/bin/dotnet /home/ofagbuji/apps/recova.audittrail/Recova.AuditTrail.WebApi.dll

Restart=always

RestartSec=10

KillSignal=SIGINT

SyslogIdentifier=recovaaudittrail

User=ofagbuji

Environment=ASPNETCORE_ENVIRONMENT=Staging

ENVIRONMENT=DOTNET_PRINT_TELEMETRY_MESSAGE=false



[Install]

WantedBy=multi-user.target
