[Unit]
Description=Recova Mandate Service

[Service]
WorkingDirectory=/home/ofagbuji/apps/recova.mandate
ExecStart=/usr/bin/dotnet /home/ofagbuji/apps/recova.mandate/Recova.Mandate.WebApi.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=recovamandate
User=ofagbuji
Environment=ASPNETCORE_ENVRONMENT=Production
ENVIRONMENT=DOTNET_PRINT_TELEMETRY_MESSAGE=false
	
[Install]
WantedBy=multi-user.target


