[Unit]
Description=Recova Authentication Service

[Service]
WorkingDirectory=/home/ofagbuji/apps/recover.auth
ExecStart=/usr/bin/dotnet /home/ofagbuji/apps/recover.auth/Recova.Auth.WebApi.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=recovaauth
User=ofagbuji
Environment=ASPNETCORE_ENVIRONMENT=Staging
ENVIRONMENT=DOTNET_PRINT_TELEMETRY_MESSAGE=false
	
[Install]
WantedBy=multi-user.target


