[Unit]

Description=Zookeeper Service



[Service]

User=ofagbuji

WorkingDirectory=/usr/local/kafka

ExecStart=/bin/bash bin/zookeeper-server-start.sh config/zookeeper.properties



[Install]

WantedBy=multi-user.target 
